@media (max-width: 1440px) {
    main .banner {
        width: 100%;
    }

    .paragrafo,
    main #servicos .paragrafo-servicos,
    .imagem,
    iframe {
        width: 90%;
    }

    main #contato .paragrafo-contato {
        text-align: center;
    }
}

@media (max-width: 768px) {
    header .menu {
        width: 100%;
    }

    main .banner {
        width: 100%;
    }


    .paragrafo,
    main #servicos .paragrafo-servicos,
    .imagem,
    iframe {
        width: 90%;
    }

    main #contato .paragrafo-contato {
        text-align: center;
    }
}

@media (max-width: 375px) {

    .paragrafo,
    main #servicos .paragrafo-servicos,
    .imagem,
    iframe {
        width: 80%;
    }
}